/*
   ==========================================================================
   Project Name: Accordian Feature
   Description: 
   Author: 
   Version: 
   License: 
   ==========================================================================
*/

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
    width:100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Anchor Styling */
a {
    text-decoration: none;
    color: #333;
}

/* List Styling */
ul, ol {
    list-style: none;
}

/* Add your custom styles below */


.wrap{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.head{
    font-size:10vw;
}
.main{
    max-width: 50%;
    margin:1rem 0 0 0;
    transition: all 1s ease ;
    

}

.question{
    padding:1rem 1rem 0 1rem;
    border-radius: 6px 6px 0px 0px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(248, 174, 38);
    cursor:pointer;
    gap:1rem;
}


.answer{
    padding:0rem 1rem 0 1rem;
    background-color: rgb(251, 202, 111);
    transition: height 1s ease; /* Added transition for height property */
    height: 0; /* Initially hide the answer */
    overflow: hidden; /* Hide any overflowing content */

}

.show{
    height: auto;
}


@media screen and (max-width: 600px) {
    .main {
      max-width:90vw;
    }
  }